<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Form</title>
</head>
<body>

    <h1>Create Company Account</h1>

    <p th:text="${message}"></p>

    <form th:action="@{/companies}" th:object="${company}" method="post">
        <div>
            <label>Name:</label>
            <input type="text" th:field="*{name}">
        </div>

        <div>
            <label>Email:</label>
            <input type="email" th:field="*{email}">
        </div>

        <div>
            <label>Password:</label>
            <input type="password" th:field="*{password}">
        </div>

        <div>
            <label>Field:</label>
            <input type="text" th:field="*{field}">
        </div>

        <div>
            <label>Location:</label>
            <input type="text" th:field="*{location}">
        </div>

        <div>
            <label>Description:</label>
            <textarea th:field="*{description}"></textarea>
        </div>

        <button type="submit">Save</button>
    </form>

    <br>
    <a th:href="@{/companies}">View All Companies</a>

</body>
</html>