<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Register - Launchpad</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="auth-page">

    <nav class="navbar">
        <div class="logo">🚀 Launchpad</div>

        <ul class="nav-links">
            <li><a href="homepage.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-text">
            <h1>Complete Your <span class="highlight">Company Profile</span></h1>
            <p>
                Add your company details to start posting internships and connect with students.
            </p>
        </div>

        <div class="form-box company-form-box">
            <h2>Company Register</h2>

            <form action="company-register" method="post" enctype="multipart/form-data">
                <input type="text" name="field" placeholder="Field / Industry" required>
                 <input type="text" name="location" placeholder="Location" required>
                <input type="text" name="phone" placeholder="Phone Number" required>
                <textarea name="description" placeholder="Company Description" rows="4" required></textarea>
                <input type="url" name="website" placeholder="Company Website">
                <br/>
                <label class="file-label">Upload Company Logo</label>
                <input type="file" name="logo" accept="image/*">

                <button type="submit" class="form-btn">Complete Registration</button>
            </form>
        </div>
    </section>

</body>
</html>