<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaunchPath</title>

    
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<!-- Navbar -->
<header>
    <div class="logo">🚀 LaunchPath</div>

    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/about}">About</a></li>
        
    </ul>

    <a th:href="@{/login}" class="btn">Login</a>
</header>

<!-- Hero Section -->
<section class="hero">

    <div class="hero-text">
        <h1>Launch Your Future 🚀</h1>

        <p>
            LaunchPad helps students discover internships and connect with companies
            to start their professional journey successfully.
        </p>

        <a th:href="@{/login}" class="main-btn">Get Started</a>

    </div>

    <div class="hero-img">
        <img th:src="@{/images/student.png}" alt="hero">
    </div>

</section>

<!-- Slider -->
<section class="slider">

    <h2>Explore Opportunities</h2>

    <div class="slider-container">
        <div class="slide">
            <img th:src="@{/images/student.png}" alt="slide">
        </div>
    </div>

</section>

<!-- Footer -->
<footer>
    © 2026 LaunchPath | All Rights Reserved
</footer>

</body>
</html>