<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launchpad - Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="auth-page">

    <nav class="navbar">
        <div class="logo">🚀 Launchpad</div>

        <ul class="nav-links">
            <li><a href="homepage.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-text">
            <h1>Internship <span class="highlight">Launchpad</span></h1>
            <p>
                Launch your journey toward internships, growth, and real opportunities.
            </p>
            <a href="signup.html" class="main-btn">Create Account</a>
        </div>

        <div class="form-box">
            <h2>Login</h2>

            <form action="login" method="post">
                <input type="text" name="name" placeholder="Enter Name" required>
                <input type="password" name="password" placeholder="Enter Password" required>

                <button type="submit" class="form-btn">Login</button>
            </form>

            <p class="switch-text">
                Don’t have an account?
                <a href="signup.html">Sign Up</a>
            </p>
        </div>
    </section>

</body>
</html>