<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Student</title>
</head>
<body>
<h1>Register Student</h1>

<form method="post" action="/register">
    <label>Name:
        <input type="text" name="name" required>
    </label>
    <br>
    <label>Email:
        <input type="email" name="email" required>
    </label>
    <br>
    <label>Password:
        <input type="password" name="password" required>
    </label>
    <br>
    <label>Major:
        <input type="text" name="major" required>
    </label>
    <br>
    <label>University:
        <input type="text" name="university" required>
    </label>
    <br>
    <label>Date of Birth:
        <input type="date" name="dateOfBirth" required>
    </label>
    <br>
    <button type="submit">Register</button>
</form>

</body>
</html>