<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launchpad - Sign Up</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body class="auth-page">

    <nav class="navbar">
        <div class="logo">🚀 Launchpad</div>

        <ul class="nav-links">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about.html}">About Us</a></li>
            <li><a th:href="@{/contact.html}">Contact</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-text">
            <h1>Start Your <span class="highlight">Journey</span></h1>
            <p>
                 Launch your journey toward internship growth and real opportunities. Discover hands-on experiences, connect with real companies, and turn your potential into powerful results. 
            </p>
            <a th:href="@{/login}" class="main-btn">Already Have an Account?</a>
        </div>

        <div class="form-box">
            <h2>Sign Up</h2>

            <form  th:action="@{/register}" method="post" th:object="${student}">
            
            <input type="text" th:field="*{name}" placeholder="Enter Name" required>
            
            <input type="email" th:field="*{email}" placeholder="Enter Email" required>
            
            <input type="password" th:field="*{password}" placeholder="Enter Password" required>

            
                <div class="role-box">
                    <p>Select Role:</p>

                    <div class="role-options">
                        <label>
                            <input type="radio" th:field="*{role}" value="student" required>
                            Student
                        </label>

                        <label>
                            <input  type="radio" th:field="*{role}" value="company">
                            Company
                        </label>

                        <label>
                            <input type="radio" th:field="*{role}" value="admin">
                            Admin
                        </label>
                    </div>
                </div>

                <button type="submit" class="form-btn">Sign Up</button>
            </form>

            <p class="switch-text">
                Already have an account?
                <a href="/login" th:href="@{/login}">Login</a>
            </p>
        </div>
    </section>


</body>
</html>