<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="company-dashboard-page">

    <nav class="company-dashboard-navbar">
        <div class="company-dashboard-logo">🚀 Launchpad</div>

        <ul class="company-dashboard-links">
            <li><a th:href="@{/student-home}">Home</a></li>
            <li><a  th:href="@{/student-profile}">Profile</a></li>
            <li><a  th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>

    <main class="company-dashboard-container"> 

        <section class="company-dashboard-hero">
            <div>
                <h1>Student Dashboard</h1>
                <p>Manage your profile, internships in one place.</p>
            </div>
        </section>

        <section class="company-dashboard-top">
            <div class="company-dashboard-profile-card">
                <div class="company-dashboard-avatar">
                    <img th:src="@{/student/{id}/photo(id=${student.id})}" alt="Student profile photo">
                    
                </div>
                <h3 th:text="${student.name}">Student Name</h3>
            <span th:text="${student.major}">Major</span>
            </div>

            <div class="company-dashboard-info-card">
                <h2>Your Information</h2>

                <div class="dashboard-info-row">
                    <span class="dashboard-label">Name</span>
                    <span class="dashboard-value" th:text="${student.name}">name</span>
                </div>

                <div class="dashboard-info-row">
                    <span class="dashboard-label">Major</span>
                    <span class="dashboard-value" th:text="${student.major}">major</span>
                </div>

                <div class="dashboard-info-row">
                    <span class="dashboard-label">Email</span>
                    <span class="dashboard-value" th:text="${student.email}">email</span>
                </div>

                <div class="dashboard-info-row">
                    <span class="dashboard-label">Location</span>
                    <span class="dashboard-value" th:text="${student.location}">Location</span>
                </div>

                <div class="dashboard-info-row">
                    <span class="dashboard-label">Phone</span>
                    <span class="dashboard-value" th:text="${student.phoneNum}">phone</span>
                </div>
            </div>
        </section>

        <section class="company-dashboard-stats">
            <div class="dashboard-stat-card">
                <h3 th:text="${appliedCount}">0</h3>
                <p>Applied Internships</p>
            </div>

            <div class="dashboard-stat-card">
                <h3 th:text="${activeCount}">0</h3>
                <p>Active Internships</p>
            </div>

        
        </section>

        <section class="company-dashboard-internships">
            <h2>Applied Internships</h2>

            <div class="company-dashboard-internships-grid">
                <div class="dashboard-internship-card"
                th:each="internship : ${internships}">
                
                    <h3 th:text="${internship.title}">Title</h3>
                    <p th:text="${internship.companyName}">Company</p>
                    <span th:text="${internship.duration}">Duration</span>
                </div>

                <div class="dashboard-internship-card" 
                 th:each="internship : ${internships}">
                
                    <h3 th:text="${internship.title}">Backend Internship</h3>
                    <p th:text="${internship.field}">Software Engineering</p>
                    <span th:text="${internship.duration}">
                     July 2026 - September 2026
                    </span>
                    
                </div>

                <div class="dashboard-internship-card"
                 th:each="internship : ${internships}">
                
                    <h3 th:text="${internship.title}">UI/UX Internship</h3>
                    <p th:text="${internship.field}">Design</p>
                    
                    <span th:text="${internship.duration}">
            August 2026 - October 2026
        </span>
                </div>
            </div>
        </section>


    </main>

</body>
</html>