<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Register - Launchpad</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body class="auth-page">

    <nav class="navbar">
        <div class="logo">🚀 Launchpad</div>

        <ul class="nav-links">
            <li><a th:href="@{/student-home}">Home</a></li>
            <li><a th:href="@{/about.html}">About Us</a></li>
            <li><a th:href="@{/contact.html}">Contact</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-text">
            <h1>Complete Your <span class="highlight">Profile</span></h1>
            <p>
                Add your details to start applying to internships and connect with companies.
            </p>
        </div>

        <div class="form-box company-form-box">
            <h2>Student Register</h2>

            <form th:action="@{/register}" method="post">

            <input type="text" name="name" placeholder="Name" required>

            <input type="email" name="email" placeholder="Email" required>

            <input type="password" name="password" placeholder="Password" required>

            <input type="text" name="university" placeholder="University" required>

            <input type="text" name="major" placeholder="Major" required>
            
                
                <label class="file-label">Date of Birth</label>
                <input type="date" name="date-of-birth">
                <br><br>
                
                <label class="file-label">Upload CV</label>
                <input type="file" name="cv" disabled>
                
                <label class="file-label">Upload profile image</label>
                <input type="file" name="logo" accept="image/*" disabled>
                
                <button type="submit" class="form-btn">Complete Registration</button>
            </form>
        </div>
    </section>

</body>
</html>