

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>University Ranking</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>


   <body class="company-dashboard-page">

<div class="company-dashboard-container">

    <div class="company-dashboard-hero">
        <h1>🏆 University Ranking</h1>
        <p>Top universities based on student performance scores.</p>
    </div>

    <div class="company-dashboard-internships">

        <table>

            <thead>
            <tr>
                <th>University</th>
                <th>Performance Score</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="entry : ${ranking}">

                <td th:text="${entry.key}"></td>

                <td th:text="${entry.value}"></td>

            </tr>

            </tbody>

        </table>

    </div>

</div>

</body>
</html>

